* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    font-family: Arial, sans-serif;

}

.iconx {
    margin-left: 98px;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.iconx:hover {
    background-color: rgb(43, 43, 43);
}

.sidebar {
    user-select: none;
    margin-top: 6px;
    flex-direction: column;
    align-items: center;
    border-right: 0.5px solid rgb(51, 51, 51);
}

.sidebarOption {
    margin-left: 100px;
    margin-top: 6px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebarOption:hover {
    background-color: rgb(43, 43, 43);
}

.profil {
    width: 40px;
    height: 40px;
    margin-left: 102px;
    margin-top: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profil:hover img {
    opacity: 0.7;
    background-color: rgb(43, 43, 43);
}

.profilutama {
    position: relative;
    border-right: 0.5px solid rgb(51, 51, 51);
    width: 600px;
}

.profilheader {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 20px;
    margin-top: 6px;
    margin-bottom: 5px;
}

.namaprofilheader {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}

.nama {
    font-size: 20px;
}

.postcount {
    font-size: 14px;
}

.background img {
    position: relative;
    width: 600px;
    height: 200px;
    object-fit: cover;
}

.profilinfo img {
    height: 140px;
    width: 140px;
    border-radius: 70px;
    border: 5px solid black;
    position: absolute;
    margin-left: 20px;
    top: 180px;
}

.btn_edit {
    color: white;
    height: 35px;
    font-weight: bold;
    width: 110px;
    position: absolute;
    top: 272px;
    right: 18px;
    background-color: black;
    border: 0.2px solid white;
    border-radius: 50px;
}

.profilinfo h3 {
    color: white;
    font-size: 20px;
    margin-top: 80px;
    margin-left: 20px;
}

.profilinfo p {
    color: rgb(104, 104, 104);
    margin-left: 18px;
    margin-top: 5px;
    font-weight: lighter;
    font-size: 15px;
}

.fas.fa-calendar-alt {
    margin-top: 8px;
    margin-left: 2px;
    margin-bottom: 12px;
}

.profilinfo p strong {
    color: white;
    margin-top: 50px;
}

.pilihanprofil {
    color: gray;
    margin-top: 18px;
    margin-left: 4px;
    border-bottom: 0.2px solid rgb(69, 69, 69);
    padding-bottom: 1px;
}

.aktif {
    color: white;
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    position: relative;
    /* Untuk pseudo-element */
}

.aktif::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    background-color: rgb(0, 149, 255);
    border-radius: 2px;
}

.pilihanprofil span {
    padding: 22px;
}

.rekomendasifollower h4 {
    color: white;
    font-size: 20px;
    padding: 14px;
    margin-left: 4px;
}

.saran img {
    margin-left: 18px;
    margin-top: 8px;
    height: 42px;
    width: 42px;
    border-radius: 100px;
}

.rekomendasifollower h5 {
    color: white;
    position: absolute;
    left: 72px;
    bottom: 22px;
    font-size: 16px;
}

.rekomendasifollower p {
    color: gray;
    position: absolute;
    left: 72px;
    bottom: -2px;
}

.rekomendasifollower button {
    color: rgb(0, 0, 0);
    height: 30px;
    font-weight: bold;
    width: 76px;
    bottom: 8px;
    right: 18px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 0.2px solid white;
    border-radius: 50px;
}

.mightlike {
    color: white;
}

.widget {
    margin-left: 30px;
    width: 350px;
}

.search {
    margin-top: 6px;
}

.material-symbols-outlined.search-icon {
    position: absolute;
    right: 422px;
    top: 16px;
    font-size: 18px;
    color: gray;
    pointer-events: none;
}

.search input {
    border: none;
    padding: 10px 10px 10px 34px;
    font-size: 14px;
    background-color: black;
    border-radius: 50px;
    outline: 0.1px solid rgb(74, 74, 74);
    height: 40px;
    width: 100%;
}

.mightlike {
    margin-top: 20px;
    border: solid rgb(73, 73, 73) 0.1px;
    border-radius: 18px;
    padding: 10px;
}

.mightlike h3 {
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}

.profil1 img {
    margin-left: 5px;
    margin-top: 20px;
    height: 42px;
    width: 42px;
    border-radius: 50px;
}

.profil1 h5 {
    position: absolute;
    right: 334px;
    top: 130px;
    font-weight: bolder;
}

.profil1 p {
    position: absolute;
    right: 274px;
    top: 148px;
    font-weight: lighter;
    color: gray;
}

.profil1 button {
    position: absolute;
    right: 116px;
    top: 130px;
    border-radius: 50px;
    width: 84px;
    height: 36px;
    font-weight: bold;
    border: 1px solid transparent;
}

.profil2 img {
    margin-left: 5px;
    margin-top: 20px;
    height: 42px;
    width: 42px;
    border-radius: 50px;
}

.profil2 h5 {
    position: absolute;
    right: 310px;
    top: 198px;
    font-weight: bolder;
}

.profil2 p {
    position: absolute;
    right: 324px;
    top: 216px;
    font-weight: lighter;
    color: gray;
}

.profil2 button {
    position: absolute;
    right: 116px;
    top: 196px;
    border-radius: 50px;
    width: 84px;
    height: 36px;
    font-weight: bold;
    border: 1px solid transparent;
}

.profil3 img {
    margin-left: 5px;
    margin-top: 20px;
    height: 42px;
    width: 42px;
    border-radius: 50px;
}

.profil3 h5 {
    position: absolute;
    right: 294px;
    top: 264px;
    font-weight: bolder;
}

.profil3 p {
    position: absolute;
    right: 314px;
    top: 282px;
    font-weight: lighter;
    color: gray;
}

.profil3 button {
    position: absolute;
    right: 116px;
    top: 260px;
    border-radius: 50px;
    width: 84px;
    height: 36px;
    font-weight: bold;
    border: 1px solid transparent;
}

.showmore {
    margin-left: 8px;
    margin-top: 28px;
    font-weight: 100px;
    padding-bottom: 10px;
    color: rgb(0, 149, 255);
}